<div class="container mt-3">
  <h1 class="mb-4">Product Management</h1>

  <div class="row mb-3">
    <div class="col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchKeyword">
        <button class="btn btn-primary" type="button" (click)="onSearch()">Search</button>
      </div>
    </div>
    <div class="col-md-8 text-end">
      <a class="btn btn-success" type="button" href="/newProduct">Add product</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ng-container *ngIf="productPage$ | async as productPage">
        <div *ngFor="let product of productPage.content" class="card shadow-0 border mb-2">
          <div class="card-body">
            <div class="row">
              <div class="col-md-1">
                <img [src]="product.imageUrl" class="img-fluid rounded" height="30" alt="Phone">
              </div>
              <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                <p class="text-muted mb-0">{{ product.name }}</p>
              </div>
              <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                <p class="text-muted mb-0 small">{{ product.unite.label }}</p>
              </div>
              <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                <p class="text-muted mb-0 small">{{ product.category.name }}</p>
              </div>
              <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                <p class="text-muted mb-0 small">Unit price : {{ product.unitPrice }} ₽</p>
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" [attr.data-bs-target]="'#editProduct' + product.productId" (click)="setSelectedProduct(product)">
                  Edit
                </button>
                <!-- Modal -->
                <div class="modal fade" id="editProduct{{product.productId}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearSelectedProduct()"></button>
                      </div>
                      <div class="modal-body">
                        <form *ngIf="selectedProduct" class="row g-3">
                          <div class="col-md-12">
                            <label for="productName" class="form-label">Product name</label>
                            <input type="text" class="form-control" id="productName" [(ngModel)]="selectedProduct.name" name="name">
                          </div>
                          <div class="col-md-12">
                            <label for="productDescription" class="form-label">Description</label>
                            <textarea class="form-control" id="productDescription" rows="3" [(ngModel)]="selectedProduct.description" name="description"></textarea>
                          </div>
                          <div class="col-6">
                            <label for="unitPrice" class="form-label">Unit price</label>
                            <input type="number" class="form-control" id="unitPrice" [(ngModel)]="selectedProduct.unitPrice" name="unitPrice">
                          </div>
                          <div class="col-md-6">
                            <label for="unit" class="form-label">Unit</label>
                            <select id="unit" class="form-select" [(ngModel)]="selectedProduct.unite" name="uniteId">
                              <option *ngFor="let unit of unit$ | async" [value]="unit.uniteId">{{ unit.label }}</option>
                            </select>
                          </div>
                          <div class="col-md-6">
                            <label for="category" class="form-label">Category</label>
                            <select id="category" class="form-select" [(ngModel)]="selectedProduct.category" name="categoryId">
                              <option *ngFor="let category of category$ | async" [value]="category.categoryId">{{ category.name }}</option>
                            </select>
                          </div>
                          <div class="col-12">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="gridCheck" [(ngModel)]="selectedProduct.isAvailable" name="isAvailable">
                              <label class="form-check-label" for="gridCheck">
                                Available
                              </label>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearSelectedProduct()">Close</button>
                        <button type="button" class="btn btn-primary" (click)="saveChanges()" data-bs-dismiss="modal">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#deleteProductModal' + product.productId">Delete</button>
                <!-- Delete Product Modal -->
                <div class="modal fade" id="deleteProductModal{{product.productId}}" tabindex="-1" aria-labelledby="deleteProductModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteUnitModalLabel">Delete confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete the product "{{product.name}}" ?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="onDelete(product.productId)">Yes</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Pagination controls -->
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="currentPage === 0">
              <a class="page-link"  (click)="changePage(currentPage - 1)">Previous</a>
            </li>
            <li class="page-item" *ngFor="let page of [].constructor(productPage.totalPage); let i = index" [class.active]="i === currentPage">
              <a class="page-link" (click)="changePage(i)">{{ i + 1 }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === productPage.totalPage - 1">
              <a class="page-link" (click)="changePage(currentPage + 1)">Next</a>
            </li>
          </ul>
        </nav>
      </ng-container>
    </div>
  </div>
</div>
